<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest Bootstrap’s compiled CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest Bootstrap Themes -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest Bootstrap’s compiled JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container page-header">
    <h1>Blog Header
        <small> -- by Junxian</small>
    </h1>
</div>

<div class="container page-body">
    <div class="col-md-9" role="main">
        <div class="body-main">
            <div>
                <h2>Article Title 1</h2>
                <p>Article Content Article Content Article Content Article Content Article Content Article Content
                    Article Content Article Content Article Content Article Content Article Content Article Content
                    Article Content Article Content Article Content Article Content Article Content Article Content
                    Article Content Article Content Article Content Article Content Article Content Article Content
                    Article Content Article Content Article Content Article Content Article Content Article Content
                    Article Content Article Content Article Content Article Content
                </p>
            </div>
            <div>
                <h2>Article Title 2</h2>
                <p>Article Content Article Content Article Content Article Content Article Content Article Content
                    Article Content Article Content Article Content Article Content Article Content Article Content
                    Article Content Article Content Article Content Article Content Article Content Article Content
                    Article Content Article Content Article Content Article Content Article Content Article Content
                    Article Content Article Content Article Content Article Content Article Content Article Content
                    Article Content Article Content Article Content Article Content
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3" role="complementary">
        <div>
            <h2>Latest Articles</h2>
            <h4><a href="#">Latest Article 1</a></h4>
            <h4><a href="#">Latest Article 2</a></h4>
            <h4><a href="#">Latest Article 3</a></h4>
            <h4><a href="#">Latest Article 4</a></h4>
            <h4><a href="#">Latest Article 5</a></h4>
            <h4><a href="#">Latest Article 6</a></h4>
            <h4><a href="#">Latest Article 7</a></h4>
            <h4><a href="#">Latest Article 8</a></h4>
            <h4><a href="#">Latest Article 9</a></h4>
            <h4><a href="#">Latest Article 10</a></h4>
        </div>
    </div>
</div>

</body>
</html>
